.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #353535 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #353535 !important;
  border-color: #353535 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #353535;
  color: #353535;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #0a0a0a !important;
  background-color: transparent!important;
  border-color: #0a0a0a !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #353535 !important;
  border-color: #353535 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #353535 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #020202 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #353535;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #353535;
  border-color: #353535;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #353535;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a8a8a8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #353535 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #353535;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #353535;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #353535;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #353535 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23353535' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-uaYRXH1qQx {
  z-index: 1000;
  width: 100%;
}
.cid-uaYRXH1qQx nav.navbar {
  position: fixed;
}
.cid-uaYRXH1qQx .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uaYRXH1qQx .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-uaYRXH1qQx .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-uaYRXH1qQx .dropdown-item:hover,
.cid-uaYRXH1qQx .dropdown-item:focus {
  background: #353535 !important;
  color: white !important;
}
.cid-uaYRXH1qQx .dropdown-item:hover span {
  color: white;
}
.cid-uaYRXH1qQx .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-uaYRXH1qQx .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-uaYRXH1qQx .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-uaYRXH1qQx .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-uaYRXH1qQx .nav-link {
  position: relative;
}
.cid-uaYRXH1qQx .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-uaYRXH1qQx .container {
    flex-wrap: nowrap;
  }
}
.cid-uaYRXH1qQx .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uaYRXH1qQx .dropdown-menu,
.cid-uaYRXH1qQx .navbar.opened {
  background: #ffffff !important;
}
.cid-uaYRXH1qQx .nav-item:focus,
.cid-uaYRXH1qQx .nav-link:focus {
  outline: none;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uaYRXH1qQx .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uaYRXH1qQx .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uaYRXH1qQx .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.9);
}
.cid-uaYRXH1qQx .navbar.opened {
  transition: all 0.3s;
}
.cid-uaYRXH1qQx .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uaYRXH1qQx .navbar .navbar-logo img {
  width: auto;
}
.cid-uaYRXH1qQx .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-uaYRXH1qQx .navbar.collapsed {
  justify-content: center;
}
.cid-uaYRXH1qQx .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uaYRXH1qQx .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uaYRXH1qQx .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uaYRXH1qQx .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-uaYRXH1qQx .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uaYRXH1qQx .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uaYRXH1qQx .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uaYRXH1qQx .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uaYRXH1qQx .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-uaYRXH1qQx .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uaYRXH1qQx .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-uaYRXH1qQx .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-uaYRXH1qQx .navbar.navbar-short {
  min-height: 60px;
}
.cid-uaYRXH1qQx .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uaYRXH1qQx .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uaYRXH1qQx .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uaYRXH1qQx .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uaYRXH1qQx .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uaYRXH1qQx .dropdown-item.active,
.cid-uaYRXH1qQx .dropdown-item:active {
  background-color: transparent;
}
.cid-uaYRXH1qQx .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uaYRXH1qQx .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uaYRXH1qQx .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uaYRXH1qQx .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-uaYRXH1qQx .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uaYRXH1qQx .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uaYRXH1qQx ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uaYRXH1qQx .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uaYRXH1qQx button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-uaYRXH1qQx a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uaYRXH1qQx .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uaYRXH1qQx .navbar {
    height: 70px;
  }
  .cid-uaYRXH1qQx .navbar.opened {
    height: auto;
  }
  .cid-uaYRXH1qQx .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uaYDUQgeRd {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-uaYDUQgeRd .carousel {
  overflow: hidden;
}
@media (min-width: 992px) {
  .cid-uaYDUQgeRd .carousel {
    height: 940px;
  }
}
@media (max-width: 768px) {
  .cid-uaYDUQgeRd .carousel {
    height: 400px;
  }
}
.cid-uaYDUQgeRd .carousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cid-uaYDUQgeRd .carousel .carousel-item,
.cid-uaYDUQgeRd .carousel .carousel-inner {
  height: 100%;
}
.cid-uaYDUQgeRd .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-uaYDUQgeRd .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-uaYDUQgeRd .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-uaYDUQgeRd .carousel-control:hover {
  color: #fff;
  opacity: 1;
}
.cid-uaYDUQgeRd .item-wrapper {
  position: relative;
  text-align: start;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-uaYDUQgeRd .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-uaYDUQgeRd .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-uaYDUQgeRd .row {
  position: relative;
}
.cid-uaYDUQgeRd .container {
  margin-bottom: 3px;
}
.cid-uaYDUQgeRd .carousel-control {
  color: #ffffff;
  top: 50%;
  width: 100px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 40px;
  border-radius: 50%;
  transition: all 0.3s;
  opacity: .8;
}
.cid-uaYDUQgeRd .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uaYDUQgeRd .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uaYDUQgeRd .carousel-control {
    top: 70%;
  }
  .cid-uaYDUQgeRd .carousel-control.carousel-control-prev {
    margin-left: .5rem;
  }
  .cid-uaYDUQgeRd .carousel-control.carousel-control-next {
    margin-right: .5rem;
  }
}
.cid-uaYDUQgeRd .buttons-wrap {
  justify-content: start;
}
.cid-uaYDUQgeRd .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 768px) {
  .cid-uaYDUQgeRd .carousel-caption {
    padding-left: 15px;
    padding-right: 15px;
  }
  .cid-uaYDUQgeRd .buttons-wrap {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .cid-uaYDUQgeRd .buttons-wrap .mbr-section-btn {
    margin-bottom: 10px;
  }
}
.cid-uaYDUQgeRd .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-uaYDUQgeRd .wrap {
  z-index: 9999;
}
.cid-uaYDUQgeRd .btnHeader {
  font-family: 'Cormorant Garamond';
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  cursor: pointer;
  left: 50%;
  top: 70%;
  border: 1px solid #9a948d;
  justify-content: center;
  transition: border 0.5s ease;
  transform: translateX(-50%);
}
.cid-uaYDUQgeRd .btnHeader::before,
.cid-uaYDUQgeRd .btnHeader::after {
  content: '';
  width: 102%;
  height: 102%;
  position: absolute;
  border-radius: 50%;
  top: -1px;
  left: -1%;
}
.cid-uaYDUQgeRd .btnHeader::before {
  border: 1px solid transparent;
  transition: border-top-color 0.1s linear, border-right-color 0.1s linear 0.1s, border-bottom-color 0.1s linear 0.2s;
}
.cid-uaYDUQgeRd .btnHeader:hover::before {
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-uaYDUQgeRd .btnHeader::after {
  border: 0 solid transparent;
  transition: transform 0.2s linear 0s, border-left-width 0s linear 0.3s;
}
.cid-uaYDUQgeRd .btnHeader:hover::after {
  border-top: 1px solid #ffffff;
  border-left-color: #ffffff;
  border-left-width: 1px;
  bordersborder-right-width: 1px;
  borderstransform: rotate(270deg);
}
.cid-uaYDUQgeRd .img {
  position: relative;
}
.cid-uaYTguxdc1 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uaYTguxdc1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uaYTguxdc1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uaZ5O4G5CR {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #fafafa;
}
.cid-uaZ5O4G5CR .mbr-fallback-image.disabled {
  display: none;
}
.cid-uaZ5O4G5CR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uaZ5O4G5CR .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-uaZ5O4G5CR .team-card:hover {
  transform: translateY(-10px);
}
.cid-uaZ5O4G5CR .item-wrapper {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-uaZ5O4G5CR .item-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-uaZ5O4G5CR .item-wrapper .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-uaZ5O4G5CR .item-wrapper .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uaZ5O4G5CR .item-wrapper .content-wrap {
    padding: 1rem;
  }
}
.cid-uaZ5O4G5CR .social-row {
  text-align: center;
}
.cid-uaZ5O4G5CR .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-uaZ5O4G5CR .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-uaZ5O4G5CR .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-uaZ5O4G5CR .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-uaZ5O4G5CR .mbr-role,
.cid-uaZ5O4G5CR .social-row DIV {
  text-align: left;
}
.cid-uaZ5O4G5CR .card-text,
.cid-uaZ5O4G5CR .mbr-section-btn,
.cid-uaZ5O4G5CR .social-row {
  text-align: left;
}
.cid-uaZ5O4G5CR .card-title,
.cid-uaZ5O4G5CR .social-row {
  text-align: left;
}
.cid-uaZbVvQMSa {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #191f23;
}
.cid-uaZbVvQMSa .logo__image {
  width: 60px;
  object-fit: cover;
}
.cid-uaZbVvQMSa .footer__content {
  margin-bottom: 30px;
}
.cid-uaZbVvQMSa .footer__content:last-child {
  margin-bottom: 0;
}
.cid-uaZbVvQMSa .title__adress {
  margin-bottom: 20px;
  color: #ffffff;
}
.cid-uaZbVvQMSa .privacy {
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-uaZbVvQMSa .privacy {
    text-align: left;
  }
}
.cid-uaZbVvQMSa .divider {
  background-color: #888888;
  opacity: .1;
  margin: 90px 0 25px;
  height: 1px;
}
.cid-uaZbVvQMSa .form-group {
  margin-bottom: 0;
  padding-right: 0;
}
.cid-uaZbVvQMSa .form-control {
  height: 50px;
  border: none;
  padding: 14px 18px;
  background-color: rgba(23, 22, 26, 0.04) !important;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent !important;
  border-radius: 4px;
  border: 1px solid #ebeaed;
}
.cid-uaZbVvQMSa .input-group-btn {
  padding-left: 0;
}
.cid-uaZbVvQMSa .input-group-btn .btn {
  height: 50px;
  font-weight: 600;
  padding: 14px 18px;
}
.cid-uaZbVvQMSa .mbr-form .input-group-btn a.btn {
  border-radius: 4px !important;
}
.cid-uaZbVvQMSa .mbr-form .btn {
  margin: 0;
}
.cid-uaZbVvQMSa input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: .8;
}
.cid-uaZbVvQMSa input::-moz-placeholder {
  color: #ffffff;
  opacity: .8;
}
@media (max-width: 991px) {
  .cid-uaZbVvQMSa .wrap {
    padding-bottom: 25px;
  }
  .cid-uaZbVvQMSa .divider {
    margin: 0 0 20px;
  }
}
.cid-uaZbVvQMSa .work__adress {
  color: #f6f6f6;
}
.cid-uaYRXH1qQx {
  z-index: 1000;
  width: 100%;
}
.cid-uaYRXH1qQx nav.navbar {
  position: fixed;
}
.cid-uaYRXH1qQx .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uaYRXH1qQx .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-uaYRXH1qQx .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-uaYRXH1qQx .dropdown-item:hover,
.cid-uaYRXH1qQx .dropdown-item:focus {
  background: #353535 !important;
  color: white !important;
}
.cid-uaYRXH1qQx .dropdown-item:hover span {
  color: white;
}
.cid-uaYRXH1qQx .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-uaYRXH1qQx .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-uaYRXH1qQx .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-uaYRXH1qQx .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-uaYRXH1qQx .nav-link {
  position: relative;
}
.cid-uaYRXH1qQx .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-uaYRXH1qQx .container {
    flex-wrap: nowrap;
  }
}
.cid-uaYRXH1qQx .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uaYRXH1qQx .dropdown-menu,
.cid-uaYRXH1qQx .navbar.opened {
  background: #ffffff !important;
}
.cid-uaYRXH1qQx .nav-item:focus,
.cid-uaYRXH1qQx .nav-link:focus {
  outline: none;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uaYRXH1qQx .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uaYRXH1qQx .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uaYRXH1qQx .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.9);
}
.cid-uaYRXH1qQx .navbar.opened {
  transition: all 0.3s;
}
.cid-uaYRXH1qQx .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uaYRXH1qQx .navbar .navbar-logo img {
  width: auto;
}
.cid-uaYRXH1qQx .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-uaYRXH1qQx .navbar.collapsed {
  justify-content: center;
}
.cid-uaYRXH1qQx .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uaYRXH1qQx .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uaYRXH1qQx .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uaYRXH1qQx .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-uaYRXH1qQx .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uaYRXH1qQx .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uaYRXH1qQx .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uaYRXH1qQx .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uaYRXH1qQx .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-uaYRXH1qQx .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uaYRXH1qQx .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-uaYRXH1qQx .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-uaYRXH1qQx .navbar.navbar-short {
  min-height: 60px;
}
.cid-uaYRXH1qQx .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uaYRXH1qQx .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uaYRXH1qQx .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uaYRXH1qQx .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uaYRXH1qQx .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uaYRXH1qQx .dropdown-item.active,
.cid-uaYRXH1qQx .dropdown-item:active {
  background-color: transparent;
}
.cid-uaYRXH1qQx .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uaYRXH1qQx .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uaYRXH1qQx .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uaYRXH1qQx .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-uaYRXH1qQx .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uaYRXH1qQx .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uaYRXH1qQx ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uaYRXH1qQx .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uaYRXH1qQx button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-uaYRXH1qQx a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uaYRXH1qQx .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uaYRXH1qQx .navbar {
    height: 70px;
  }
  .cid-uaYRXH1qQx .navbar.opened {
    height: auto;
  }
  .cid-uaYRXH1qQx .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uaZgv56pwt {
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-image: url("../../../assets/images/2024web0427-2trail-4.jpg");
}
.cid-uaZgv56pwt .mbr-fallback-image.disabled {
  display: none;
}
.cid-uaZgv56pwt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uaZgv56pwt .mbr-text,
.cid-uaZgv56pwt .mbr-section-btn {
  color: #232323;
}
.cid-uaZgv56pwt .card-title,
.cid-uaZgv56pwt .card-box {
  color: #ffffff;
}
.cid-uaZgv56pwt .mbr-text,
.cid-uaZgv56pwt .link-wrap {
  color: #ffffff;
}
.cid-uaZk2YjK2V {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uaZk2YjK2V .mbr-fallback-image.disabled {
  display: none;
}
.cid-uaZk2YjK2V .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uaZk2YjK2V .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uaZk2YjK2V .row {
  flex-direction: row-reverse;
}
.cid-uaZk2YjK2V img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-uaZk2YjK2V .text-wrapper {
    padding: 2rem;
  }
}
.cid-uaZrqy6mFP {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uaZrqy6mFP .mbr-fallback-image.disabled {
  display: none;
}
.cid-uaZrqy6mFP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uaZrqy6mFP .img-wrapper {
  text-align: center;
}
.cid-uaZrqy6mFP img {
  margin: auto;
  width: 140px;
  padding-bottom: 2rem;
}
.cid-uaZrqy6mFP .row {
  align-items: flex-start;
}
.cid-uaZrqy6mFP .item-wrapper {
  border-radius: 4px;
  background: #fafafa;
}
@media (max-width: 992px) {
  .cid-uaZrqy6mFP .item-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-uaZrqy6mFP .item-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uaZrqy6mFP .item-wrapper {
    padding: 1rem;
  }
}
.cid-uaZrqy6mFP .mbr-text,
.cid-uaZrqy6mFP .mbr-section-btn {
  text-align: center;
}
.cid-uaZnjkbhBi {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uaZnjkbhBi .mbr-fallback-image.disabled {
  display: none;
}
.cid-uaZnjkbhBi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uaZnjkbhBi .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #353535;
  margin-left: 1rem;
}
.cid-uaZnjkbhBi .panel-group {
  border: none;
}
.cid-uaZnjkbhBi .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-uaZnjkbhBi .panel-body,
.cid-uaZnjkbhBi .card-header {
  padding: 1rem 0;
}
.cid-uaZnjkbhBi .panel-title-edit {
  color: #000000;
}
.cid-uaZnjkbhBi .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-uaZbVvQMSa {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #191f23;
}
.cid-uaZbVvQMSa .logo__image {
  width: 60px;
  object-fit: cover;
}
.cid-uaZbVvQMSa .footer__content {
  margin-bottom: 30px;
}
.cid-uaZbVvQMSa .footer__content:last-child {
  margin-bottom: 0;
}
.cid-uaZbVvQMSa .title__adress {
  margin-bottom: 20px;
  color: #ffffff;
}
.cid-uaZbVvQMSa .privacy {
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-uaZbVvQMSa .privacy {
    text-align: left;
  }
}
.cid-uaZbVvQMSa .divider {
  background-color: #888888;
  opacity: .1;
  margin: 90px 0 25px;
  height: 1px;
}
.cid-uaZbVvQMSa .form-group {
  margin-bottom: 0;
  padding-right: 0;
}
.cid-uaZbVvQMSa .form-control {
  height: 50px;
  border: none;
  padding: 14px 18px;
  background-color: rgba(23, 22, 26, 0.04) !important;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent !important;
  border-radius: 4px;
  border: 1px solid #ebeaed;
}
.cid-uaZbVvQMSa .input-group-btn {
  padding-left: 0;
}
.cid-uaZbVvQMSa .input-group-btn .btn {
  height: 50px;
  font-weight: 600;
  padding: 14px 18px;
}
.cid-uaZbVvQMSa .mbr-form .input-group-btn a.btn {
  border-radius: 4px !important;
}
.cid-uaZbVvQMSa .mbr-form .btn {
  margin: 0;
}
.cid-uaZbVvQMSa input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: .8;
}
.cid-uaZbVvQMSa input::-moz-placeholder {
  color: #ffffff;
  opacity: .8;
}
@media (max-width: 991px) {
  .cid-uaZbVvQMSa .wrap {
    padding-bottom: 25px;
  }
  .cid-uaZbVvQMSa .divider {
    margin: 0 0 20px;
  }
}
.cid-uaZbVvQMSa .work__adress {
  color: #f6f6f6;
}
.cid-uaYRXH1qQx {
  z-index: 1000;
  width: 100%;
}
.cid-uaYRXH1qQx nav.navbar {
  position: fixed;
}
.cid-uaYRXH1qQx .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uaYRXH1qQx .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-uaYRXH1qQx .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-uaYRXH1qQx .dropdown-item:hover,
.cid-uaYRXH1qQx .dropdown-item:focus {
  background: #353535 !important;
  color: white !important;
}
.cid-uaYRXH1qQx .dropdown-item:hover span {
  color: white;
}
.cid-uaYRXH1qQx .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-uaYRXH1qQx .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-uaYRXH1qQx .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-uaYRXH1qQx .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-uaYRXH1qQx .nav-link {
  position: relative;
}
.cid-uaYRXH1qQx .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-uaYRXH1qQx .container {
    flex-wrap: nowrap;
  }
}
.cid-uaYRXH1qQx .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uaYRXH1qQx .dropdown-menu,
.cid-uaYRXH1qQx .navbar.opened {
  background: #ffffff !important;
}
.cid-uaYRXH1qQx .nav-item:focus,
.cid-uaYRXH1qQx .nav-link:focus {
  outline: none;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uaYRXH1qQx .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uaYRXH1qQx .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uaYRXH1qQx .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uaYRXH1qQx .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.9);
}
.cid-uaYRXH1qQx .navbar.opened {
  transition: all 0.3s;
}
.cid-uaYRXH1qQx .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uaYRXH1qQx .navbar .navbar-logo img {
  width: auto;
}
.cid-uaYRXH1qQx .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-uaYRXH1qQx .navbar.collapsed {
  justify-content: center;
}
.cid-uaYRXH1qQx .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uaYRXH1qQx .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uaYRXH1qQx .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uaYRXH1qQx .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uaYRXH1qQx .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-uaYRXH1qQx .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uaYRXH1qQx .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uaYRXH1qQx .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uaYRXH1qQx .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-uaYRXH1qQx .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uaYRXH1qQx .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-uaYRXH1qQx .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uaYRXH1qQx .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-uaYRXH1qQx .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-uaYRXH1qQx .navbar.navbar-short {
  min-height: 60px;
}
.cid-uaYRXH1qQx .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uaYRXH1qQx .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uaYRXH1qQx .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uaYRXH1qQx .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uaYRXH1qQx .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uaYRXH1qQx .dropdown-item.active,
.cid-uaYRXH1qQx .dropdown-item:active {
  background-color: transparent;
}
.cid-uaYRXH1qQx .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uaYRXH1qQx .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uaYRXH1qQx .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uaYRXH1qQx .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-uaYRXH1qQx .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uaYRXH1qQx .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uaYRXH1qQx ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uaYRXH1qQx .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uaYRXH1qQx button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uaYRXH1qQx button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uaYRXH1qQx nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uaYRXH1qQx .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-uaYRXH1qQx a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uaYRXH1qQx .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uaYRXH1qQx .navbar {
    height: 70px;
  }
  .cid-uaYRXH1qQx .navbar.opened {
    height: auto;
  }
  .cid-uaYRXH1qQx .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uaZbVvQMSa {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #191f23;
}
.cid-uaZbVvQMSa .logo__image {
  width: 60px;
  object-fit: cover;
}
.cid-uaZbVvQMSa .footer__content {
  margin-bottom: 30px;
}
.cid-uaZbVvQMSa .footer__content:last-child {
  margin-bottom: 0;
}
.cid-uaZbVvQMSa .title__adress {
  margin-bottom: 20px;
  color: #ffffff;
}
.cid-uaZbVvQMSa .privacy {
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-uaZbVvQMSa .privacy {
    text-align: left;
  }
}
.cid-uaZbVvQMSa .divider {
  background-color: #888888;
  opacity: .1;
  margin: 90px 0 25px;
  height: 1px;
}
.cid-uaZbVvQMSa .form-group {
  margin-bottom: 0;
  padding-right: 0;
}
.cid-uaZbVvQMSa .form-control {
  height: 50px;
  border: none;
  padding: 14px 18px;
  background-color: rgba(23, 22, 26, 0.04) !important;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent !important;
  border-radius: 4px;
  border: 1px solid #ebeaed;
}
.cid-uaZbVvQMSa .input-group-btn {
  padding-left: 0;
}
.cid-uaZbVvQMSa .input-group-btn .btn {
  height: 50px;
  font-weight: 600;
  padding: 14px 18px;
}
.cid-uaZbVvQMSa .mbr-form .input-group-btn a.btn {
  border-radius: 4px !important;
}
.cid-uaZbVvQMSa .mbr-form .btn {
  margin: 0;
}
.cid-uaZbVvQMSa input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: .8;
}
.cid-uaZbVvQMSa input::-moz-placeholder {
  color: #ffffff;
  opacity: .8;
}
@media (max-width: 991px) {
  .cid-uaZbVvQMSa .wrap {
    padding-bottom: 25px;
  }
  .cid-uaZbVvQMSa .divider {
    margin: 0 0 20px;
  }
}
.cid-uaZbVvQMSa .work__adress {
  color: #f6f6f6;
}
